body{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    padding-top: 2%;
    width: 60%;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding-top: 2%;    
}

.images{
    display: flex;
    flex-wrap: wrap;
}

.input-group{
    box-shadow: 5px 5px 15px;
}

